/* You can add global styles to this file, and also import other style files */
.rect {
  width: 200px;
  height: 200px;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.red {
  background: red;
}
